
/*
======================
For - Big - Screen
======================
*/

@media screen and (min-width: 1920px) {

	/*
	================
	baremetal.html
	================
	*/

	



}


/*
=======================
For - Dextop - Screen
=======================
*/

@media screen and (min-width: 1200px) and (max-width: 1919px) {

}


@media screen and (min-width: 1200px) and (max-width: 1399px) {

	.presence_image img {
		width: 560px;
	}
	
	.shop_inr figure img {
		width: 500px;
	}


	/*
	------------------------
	about-page.html
	------------------------
	*/


	/*
	=====================
	step-article-area
	=====================
	*/

	.step_1 {
		padding: 104px 0;
	}

	.step_2 {
		padding: 0 0 104px;
	}

	.step_3 {
		padding: 0 0 104px;
	}

	.step_4 {
		padding: 0 0 104px;
	}

	.step_im1 img {
	  	position: initial;
	  	width: 100%;
	 	margin: 50px 0 0px;
	}

	.step_im2 img {
		position: initial;
		width: 100%;
		margin: 30px 0 0px;
	}

	.step_im3 img {
		position: initial;
		width: 100%;
		margin: 0 0 0;
	}

	.step_im4 img {
		position: initial;
		width: 100%;
		margin: -50px 0 0;
	}


	/*
	------------------------
	package-page.html
	------------------------
	*/
	
	.bg_demo1 {
		padding-left: 65px;
	}

}


/*
=======================
For - Leptop - Screen
=======================
*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

	h2 {
		font-size: 45px !important;
		line-height: 50px !important;
	}

	br {
		display: none;
	}

	/*
	=================
	header-area
	=================
	*/

	.header_content h2 {
		font-size: 60px !important;
		line-height: 65px !important;
	}


	/*
	===============
	precense-area
	===============
	*/

	.presence_image img {
  		bottom: 50%;
  		width: 450px;
	}


	/*
	============
	biz-area
	============
	*/

	.biz-area {
		padding: 115px 0 35px;
	}

	.rgb_box ul li img {
		width: 25px;
		height: 25px;
	}

	.biz_im img {
		width: 690px;
	}

	/*
	===========
	shop-area
	===========
	*/

	.shop_inr figure img {
		width: 450px;
		top: 286px;
	}


	/*
	------------------------
	about-page.html
	------------------------
	*/

	.about_content small br,
	.about_content h2 br {
		display: block !important;
	}


	/*
	==============
	details-box
	==============
	*/

	.detail-inr {
		max-width: 90%;
	}


	/*
	=====================
	step-article-area
	=====================
	*/

	.step_1 {
		padding: 104px 0;
	}

	.step_2 {
		padding: 0 0 104px;
	}

	.step_3 {
		padding: 0 0 104px;
	}

	.step_4 {
		padding: 0 0 104px;
	}

	.step_im1 img {
	  	position: initial;
	  	width: 100%;
	 	margin: 50px 0 0px;
	}

	.step_im2 img {
		position: initial;
		width: 100%;
		margin: 30px 0 0px;
	}

	.step_im3 img {
		position: initial;
		width: 100%;
		margin: 0 0 0;
	}

	.step_im4 img {
		position: initial;
		width: 100%;
		margin: -50px 0 0;
	}


	/*
	====================
	packages-box-area
	====================
	*/

	.package_details h3,
	.standard_package h3 {
		font-size: 25px;
	}

	.package_details {
		padding: 30px 18px;
	}


	/*
	------------------------
	package-page.html
	------------------------
	*/
	
	.bg_demo1 {
		padding-left: 65px;
	}

	.demo_box h2 {
		font-size: 34px !important;
	}
	
	.demo_box h2 img {
		width: 14px;
	}

	.demo_box h2 br {
		display: block !important;
	}



	/*
	--------------------
	account-page-area
	--------------------
	*/

	.ctn_form input, .ctn_form select, .ctn_form textarea {
		font-size: 13px;
	}

	.ctn_form label span {
		font-size: 12px;
	}

	.enter_cnt h3 {
		font-size: 18px;
	}

	.stan_div h3 {
		font-size: 16px;
	}

	.fit-image {
		margin: 40px 0;
	}


	/*
	----------------------
	terms and condition
	----------------------
	*/

	.introduction__content h2 {
		font-size: 20px !important;
	}


	/*
	----------------------
	terms and condition
	----------------------
	*/

	.introduction__content h2 {
		font-size: 20px !important;
	}
	
	.introduction-container {
	  	padding: 50px 60px 55px 50px;
	}


	/*
	---------------
	contact us
	---------------
	*/

	.contact__box {
		padding: 40px 0;
		margin: 0 0 70px;
	}

	.sales_cnt {
  		padding: 0 25px;
	}
	
	.sales_cnt h3 {
		font-size: 24px;
	}

	.sales_cnt p {
  		font-size: 16px;
  		margin: 12px 0 10px;
	}

	.sales_cnt ul li a {
		font-size: 15px;
	}

	.city_content {
		padding: 30px 13px;
	}

	.city_content h3 {
		font-size: 21px;
		margin: 0 0 21px;
	}

	.city_content p {
  		font-size: 15px;
  		line-height: 18px;
	}

	.below-form form input {
  		font-size: 14px;
  		padding: 12px 13px;
  		margin: 0 0 25px;
	}

	.below_content h2 {
		margin: 0 0 70px;
	}

	.below_content h2 br {
		display: block !important;
	}

	.below-form p {
		font-size: 17px;
	}

	.below-area {
		padding: 50px 0;
	}



	/*
	----------------------------
	case-study-detail-view.html
	----------------------------
	*/
	
	.detail-int-img {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}




}


/*
=======================
For - Ipad - Screen
=======================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {


	h2 {
		font-size: 35px !important;
		line-height: 40px !important;
	}

	br {
		display: none;
	}

	/*
	===============
	header-area
	===============
	*/

	.hdr_a img {
		width: 170px;
	}

	.header_list li a {
  		font-size: 13px;
  		line-height: 17px;
  		margin: 0 2px;
  		padding: 8px 0;
	}

	.header_content p {
  		font-size: 14px;
  		line-height: 18px;
  		padding: 0 5%;
	}

	.video_frame {
  		height: 250px;
  		transform: translate(-50%,46%);
  		padding: 0 4%;
	}

	.header_content {
		padding: 0 0 190px;
	}

	.header-area .psion_1,
	.header-area .psion_2 {
		width: 45%;
	}


	/*
	==================
	presence-area
	==================
	*/

	.presence-area {
		padding: 160px 0 450px;
	}

	.h2_spn {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 35px;
	}

	.presence_image img {
		position: initial;
  		width: 100%;
  		margin: 40px 0 0;
	}

	.presence_content p,
	.shop_content p {
	  	font-size: 16px;
	  	line-height: 22px;
	}

	.slider {
		margin-bottom: 30px;
	}


	/*
	=============
	biz-area
	=============
	*/

	.biz-area {
		padding: 50px 0;
	}

	.biz_im img,
	.shop_inr figure img {
		position: initial;
		width: 100%;
		margin: 30px 0 0;
	}

	.biz_content {
		padding: 0 15px 0 0;
	}

	.rgb_box h5 {
		font-size: 17px;
	}

	.rgb_box li small {
		font-size: 13px;
	}


	/*
	==============
	shop-area
	==============
	*/

	.shop-area {
		padding: 50px 0;
	}

	.shop_content {
		padding: 0 0 0 15px;
	}

	.shop_content h2 {
		margin-top: 35px;
	}

	.shop_content h2 span {
		display: initial;
	}


	/*
	==============
	faqs-area
	=============
	*/

	.faqs-area {
		margin: 50px 0;
	}

	.faqs_div {
		padding: 20px;
	}

	.acc__title h3 {
		font-size: 13px;
		line-height: 17px;
	}

	.acc__title::after {
  		width: 9px;
  		height: 9px;
  		border-right: 1.5px solid #000;
  		border-bottom: 1.5px solid #000;
  		right: -8px;
  		top: 1px;
	}

	.acc__title.active::after {
  		top: 8px;
  	}

  	.acc__card {
  		padding: 23px;
  	}

  	.acc__panel small {
  		font-size: 13px;
  	}

  	.platform_div {
  		padding: 50px 0;
  	}


  	/*
	================
	quistion-area
	================
  	*/

  	.quistion-area {
  		padding: 50px 0;
  	}

  	.quis_content h2 {
  		margin: 0 0 60px;
  	}

  	.contact_form .col-md-6 {
  		padding: 0 20px 20px;
	}

	.contact_form form input {
		font-size: 14px;
		padding: 10px 15px;
	}

	.contact_form p {
		font-size: 16px;
		line-height: 20px;
	}


	/*
	===============
	footer-area
	===============
	*/

	.ftr_links {
		margin: 0 0 30px;
	}

	.social-logo ul li a {
  		margin: 14px;
	}

	.simple_text p {
		font-size: 12px;
	}



	/*
	------------------------
	about-page.html
	------------------------
	*/


	/*
	==============
	detail-box
	==============
	*/

	.shoot img {
		width: 80px;
	}

	.detail-inr {
  		border-radius: 63px;
  		max-width: 95%;
  		padding: 70px 40px 0px;
	}


	/*
	=====================
	step-article-area
	=====================
	*/

	.step_1,
	.step_2,
	.step_3,
	.step_4 {
		padding: 50px 0;
	}

	.step_content h4 {
		font-size: 20px;
	}

	.step_content h2 {
		margin: 0 0 25px;
	}

	.step_content p {
		font-size: 16px;
		line-height: 20px;
	}

	.step_im1 img {
	  	position: initial;
	  	width: 100%;
	 	margin: 50px 0 0px;
	}

	.step_im2 img {
		position: initial;
		width: 100%;
		margin: 30px 0 0px;
	}

	.step_im3 img {
		position: initial;
		width: 100%;
		margin: 0 0 0;
	}

	.step_im4 img {
		position: initial;
		width: 100%;
		margin: -50px 0 0;
	}

	.cuple_a br {
		display: block !important;
	}



	/*
	------------------------
	package-page.html
	------------------------
	*/

	.about_content h2 br {
		display: block !important;
	}

	.premium_marg > h2 {
		font-size: 25px !important;
	}

	.premium_marg > h2 b {
		font-size: 30px !important;
	}

	.bg_demo1 {
		padding-left: auto;
	}

	.demo_box {
  		padding: 40px 50px;
	}

	.demo_box h2 {
		font-size: 25px !important;
	}

	.premium-area {
		padding: 0 0 50px;
	}

	.demo_box h2 img {
		width: 10px;
	}

	.demo_box h2 br {
		display: block !important;
	}



	/*
	--------------------
	account-page-area
	--------------------
	*/

	.review_package {
		margin: 0 0 20px;
	}



	/*
	----------------------
	terms and condition
	----------------------
	*/

	.introduction__content h2 {
		font-size: 20px !important;
	}
	
	.introduction-container {
	  	padding: 50px 60px 55px 50px;
	}


	/*
	---------------
	contact us
	---------------
	*/

	.contact__box {
		padding: 40px 0;
		margin: 0 0 40px;
	}

	.sales_cnt {
  		padding: 0 25px;
	}
	
	.sales_cnt h3 {
		font-size: 19px;
	}

	.sales_cnt p {
  		font-size: 13px;
  		margin: 12px 0 10px;
	}

	.sales_cnt ul li a {
		font-size: 13px;
	}

	.city_content {
		padding: 30px 10px;
	}

	.city_content h3 {
		font-size: 19px;
		margin: 0 0 15px;
	}

	.city_content p {
  		font-size: 14px;
  		line-height: 18px;
	}

	.below-form form input {
  		font-size: 14px;
  		padding: 12px 13px;
  		margin: 0 0 25px;
	}

	.below_content h2 {
		margin: 0 0 70px;
	}

	.below_content h2 br {
		display: block !important;
	}

	.below-form p {
		font-size: 17px;
	}

	.below-area {
		padding: 50px 0;
	}




	/*
	-------------------------
	case-study-listing.html
	-------------------------
	*/

	.success_stories {
		padding: 0 5px;
	}

	.success_stories .col-lg-4 {
	  	margin: 0 0 20px !important;
	  	padding-top: 0 !important;
	}




	/*
	----------------------------
	case-study-detail-view.html
	----------------------------
	*/

	.case-study-detail-area {
		padding: 0 0 200px;
	}

	.women-video iframe {
		height: 500px;
	}

	.women-content h2 {
  		font-size: 35px !important;
  		line-height: normal !important;
  		margin: 29px 0 25px 0;
	}

	.women-content > p {
		font-size: 18px;
		line-height: 26px;
	}

	.detail-int-box {
		margin: -150px 0 40px 0;
		padding: 30px 20px 20px;
		border-radius: 15px;
	}

	.henry-cnt h4 {
		font-size: 19px;
	}

	.henry-cnt h3 {
		font-size: 22px;
	}

	.henry-cnt p {
		font-size: 18px;
	}

	.detail-int-content h2 {
		font-size: 32px !important;
		margin: 0 0 24px;
	}

	.detail-int-content ul li {
  		font-size: 14px;
  		line-height: 20px;
  		text-align: justify;
	}

	.detail-int-content ul li br {
		display: none;
	}

	.detail-int-item1 {
		padding-right: 10px;
	}

	.detail-int-img img {
		margin: 35px 0 0;
	}

	.marg-none {
		margin-bottom: 0;
	}

	.custom-success-area {
  		padding: 48px 0px 35px;
	}

	.custom-content-h2 h2 {
		font-size: 34px !important;
		line-height: 1.2 !important;
		margin: 0 0 32px;
	}
	
	.custom-content-h2 h2 br {
		display: block;
	}

	.detail-int-img {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}










}





/*
=======================
For - Mobile - Screen
=======================
*/

@media screen and (max-width: 767px) {


	h2 {
		font-size: 35px !important;
		line-height: 40px !important;
	}

	br {
		display: none;
	}

	/*
	===============
	header-area
	===============
	*/

	.hdr_a img {
		width: 170px;
	}

	.header_list li a {
		margin: 0 10px 10px !important;
	}

	.header_list li a::before {
		margin: 0;
	}

	.sign {
		display: inline-block !important;
	}

	.header-area nav {
  		padding: 0px 0 40px;
	}	

	.header_content h2 {
  		margin: 0 0 20px;
	}

	.header_content p {
  		font-size: 14px;
  		line-height: 18px;
  		padding: 0 5%;
	}

	.video_frame {
  		width: 100%;
  		height: 250px;
  		transform: translate(-50%,46%);
  		padding: 0 4%;
	}

	.header_content {
		padding: 0 0 190px;
	}

	.header-area .psion_1,
	.header-area .psion_2,
	.header-area .psion_3 {
		width: 45%;
	}

	.header-area .psion_3 {
		top: -56px;
		right: -69px;
	}


	/*
	==================
	presence-area
	==================
	*/

	.presence-area {
		padding: 160px 0 450px;
	}

	.h2_spn {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 35px;
	}

	.presence_image img {
		position: initial;
  		width: 100%;
  		margin: 40px 0 0;
	}

	.presence_content p,
	.shop_content p {
	  	font-size: 16px;
	  	line-height: 22px;
	}

	.slider {
		margin-bottom: 30px;
	}


	/*
	=============
	biz-area
	=============
	*/

	.biz-area {
		padding: 50px 0;
	}

	.biz_im img,
	.shop_inr figure img {
		position: initial;
		width: 100%;
		margin: 30px 0 0;
	}

	.biz_content {
		padding: 0 15px 0 0;
	}

	.rgb_box h5 {
		font-size: 17px;
	}

	.rgb_box li small {
		font-size: 13px;
	}


	/*
	==============
	shop-area
	==============
	*/

	.shop-area {
		padding: 50px 0;
	}

	.shop_content {
		padding: 0 0 0 15px;
	}

	.shop_content h2 {
		margin-top: 35px;
	}

	.shop_content h2 span {
		display: initial;
	}


	/*
	==============
	faqs-area
	=============
	*/

	.faqs-area {
		margin: 50px 0;
	}

	.faqs_div {
		padding: 20px;
	}

	.acc__title h3 {
		font-size: 13px;
		line-height: 17px;
	}

	.acc__title::after {
  		width: 9px;
  		height: 9px;
  		border-right: 1.5px solid #000;
  		border-bottom: 1.5px solid #000;
  		right: -8px;
  		top: 1px;
	}

	.acc__title.active::after {
  		top: 8px;
  	}

  	.acc__card {
  		padding: 15px 23px;
  	}

  	.acc__panel small {
  		font-size: 13px;
  	}

  	.platform_div {
  		padding: 50px 0;
  	}


  	/*
	================
	quistion-area
	================
  	*/

  	.quistion-area {
  		padding: 50px 0;
  	}

  	.quis_content h2 {
  		margin: 0 0 60px;
  	}

  	.contact_form .col-md-6 {
  		padding: 0 20px 20px;
	}

	.contact_form form input {
		font-size: 14px;
		padding: 10px 15px;
	}

	.contact_form p {
		font-size: 16px;
		line-height: 20px;
	}


	/*
	===============
	footer-area
	===============
	*/

	.ftr_links {
		margin: 0 0 30px;
	}

	.social-logo ul li a {
  		margin: 14px;
	}

	.simple_text p {
		font-size: 12px;
	}





	/*
	------------------------
	about-page.html
	------------------------
	*/

	.about-header {
		padding: 0 0 80px;
	}

	.about_content p {
		font-size: 16px;
		line-height: 20px;
	}

	.about_content small {
		font-size: 14px;
	}


	/*
	============
	detail-box
	============
	*/

	.detail-box {
		padding: 70px 0;
	}

	.detail-inr {
	  	border-radius: 15px;
	  	padding: 20px 40px;
	  	margin: 0 auto;
	  	max-width: 95%;
	} 

	.shoot img {
		display: none;
	}

	.detail-inr .col-lg-4 {
		padding: 0;
	}

	.tools_div,
	.logo_div {
		margin: 0 0 20px;
	}


	/*
	=====================
	step-article-area
	=====================
	*/

	.step_1,
	.step_2,
	.step_3,
	.step_4 {
		padding: 50px 0;
	}

	.step_content h4 {
		font-size: 20px;
	}

	.step_content h2 {
		margin: 0 0 25px;
	}

	.step_content p {
		font-size: 16px;
		line-height: 20px;
	}

	.step_im1 img {
	  	position: initial;
	  	width: 100%;
	 	margin: 0 0 40px;
	}

	.step_im2 img {
		position: initial;
		width: 100%;
		margin: -50px 0 40px;
	}

	.step_im3 img {
		position: initial;
		width: 100%;
		margin: -50px 0 40px;
	}

	.step_im4 img {
		position: initial;
		width: 100%;
		margin: -50px 0 0;
	}



	/*
	===================
	packages-box-area
	===================
	*/

	.packages_head {
  		padding: 40px 0 250px;
	}

	.marg-1 {
  		margin: -190px 0 0 0;
	}

	.cuple_a br {
		display: block !important;
	}

	.package_details {
		margin: 0 0 20px;
	}

	.packages-box-area {
  		margin: 0 0 50px;
	}



	/*
	------------------------
	package-page.html
	------------------------
	*/


	/*
	===============
	about-header
	===============
	*/

	.premium_marg {
		margin: -98px 0 0;
	}

	.premium_marg > h2 {
		font-size: 14px !important;
		margin: 0;
	}

	.premium_marg > h2 b {
		font-size: 25px !important;
	}


	/*
	==============
	service-area
	==============
	*/

	.premium-area {
		padding: 0 0 50px;
	}

	.premium_box {
		padding: 30px 20px !important;
		border-radius: 20px !important;
	}

	.premium_box h3 {
		font-size: 15px;
		line-height: 20px;
	}

	.premium_box ul li small {
		font-size: 13px;
		line-height: 17px;
	}

	.light_link li {
		display: block !important;
	}

	.light_link li a {
		width: 100%;
		text-align: center;
		margin: 0 0 10px !important;
		display: block;
		font-size: 11px;
		padding: 8px 0;
	}

	.light_link li a img {
		margin: 0 4px 0 0;
	}

	.buy_a a {
	  	font-size: 15px;
	  	padding: 10px 50px 12px;
	  	margin: 28px 0 0;
	  	width: 100%;
	  	text-align: center;
	}

	.bg_demo1 {
		padding-left: auto;
	}

	.service-area {
		padding: 50px 0;
	}

	.about-faq {
		padding: 50px 0;
	}



	/*
	-------------------
	login-page.html
	-------------------
	*/

	.tab {
	  	padding: 30px 8%;
	}

	.tab button {
		font-size: 18px;
	}

	.mrg {
  		margin-right: 25px;
	}

	.tab button::before {
		height: 3px;
		bottom: -3px;
	}

	.tabcontent {
		padding: 30px 20px;
	}

	.tabcontent form label span {
		font-size: 14px;
	}

	.tabcontent form input {
		font-size: 14px;
		padding: 10px;
	}

	.tabcontent form p {
  		font-size: 12px;
  		margin: 6px 0 25px;
	}

	.tabcontent form button[type="submit"] {
		padding: 11px 66px 13px;
		font-size: 14px;
	}



	/*
	--------------------
	account-page-area
	--------------------
	*/

	.multi_marg {
		margin: -80px 0 0;
	}

	.select_box {
		margin: 20px 0 0;
	}

	#msform fieldset, .review_package {
		padding: 20px 20px 34px;
	}

	.review_package {
		margin: 0 0 20px;
	}

	.stan_div p,
	.review_package table tr td:first-of-type {
		font-size: 13px;
	}

	.stan_div h3 {
		font-size: 14px;
	}

	.total_div h2 {
		font-size: 18px !important;
	}

	.line_l2 {
		display: none;
	}

	#msform .action-button {
		font-size: 14px;
		padding: 11px 50px 13px !important;
		width: auto !important;
	}

	#msform .action-button-previous {
		font-size: 14px;
		padding: 8px 34px 11px;
	}

	.purple-text {
		font-size: 14px;
	}

	.fit-image {
		margin: 40px 0;
	}


	/*
	----------------------
	terms and condition
	----------------------
	*/

	.introduction-area {
		padding: 0 0 30px;
	}

	.introduction-container {
  		border-radius: 30px;
  		padding: 25px 30px 25px 20px;
  		margin: -90px 0 0 0;
  	}

  	.introduction__content {
  		margin: 0 0 25px;
  	}

  	.introduction__content h2 {
  		font-size: 16px !important;
  		margin: 0 0 5px;
  	}

  	.introduction__content ul li {
  		font-size: 13px;
	  	line-height: 20px;
	  	margin: 0 0 5px;
	}

	.introduction__content ul li p {
		padding: 0;
	}



	/*
	---------------
	contact us
	---------------
	*/

	.contact__box {
		padding: 40px 0;
		margin: 0 0 40px;
	}

	.sales_cnt {
  		padding: 0 25px;
  		margin: 0 0 30px;
	}

	.bdr_cnt {
		border: none;
	}

	.sales_cnt h3 {
		font-size: 20px;
	}

	.sales_cnt p {
  		font-size: 15px;
  		margin: 12px 0 10px;
	}

	.sales_cnt ul li a {
		font-size: 15px;
	}

	.uk-area .col-lg-4 {
		margin: 0 0 20px;
	}

	.city_content {
		padding: 30px 46px;
	}

	.city_content h3 {
		font-size: 22px;
		margin: 0 0 20px;
	}

	.city_content p {
		font-size: 15px;
	}

	.covid-text {
  		padding: 20px 0 40px;
	}

	.covid-text p {
		font-size: 13px;
	}

	.below-area {
		padding: 50px 0;
	}

	.below_content h2 {
	  	font-size: 25px !important;
	 	margin: 0 0 45px;
	  	line-height: 30px !important;
	}

	.below-form form input {
	  	border-radius: 8px;
	  	font-size: 13px;
	  	padding: 10px 15px;
	  	margin: 0 0 16px;
	}

	.below-form p {
  		margin: 15px 0 0;
  		font-size: 14px;
	}

	.below-form button[type="submit"] {
		font-size: 13px;
		margin: 30px 0 0;
	}	
  	
  	.below-area {
  		padding: 50px 0;
  	}



  	/*
	-------------------------
	case-study-listing.html
	-------------------------
	*/

	.case-study-area {
		padding: 0 0 40px;
	}

	.success_stories div > h2 {
		margin: 0 0 30px;
	}

	.stories_box iframe, .stories_box img {
  		height: 200px;
  		object-fit: cover;
	}

	.stories_box h3 {
  		font-size: 18px;
  		margin: 15px 0 9px;
	}

	.stories_box p {
		font-size: 13px;
		line-height: 1.3;
	}

	.stories_box h4 {
	  	font-size: 14px;
	  	margin: 12px 0 4px;
	}

	.stories_box h5 {
		font-size: 14px;
	}

	.success_stories .col-lg-4 {
	  	padding-right: calc(var(--bs-gutter-x) * .5);
	  	padding-left: calc(var(--bs-gutter-x) * .5);
	  	margin: 0 0 15px !important;
	  	padding-top: 0 !important;
	}



	/*
	----------------------------
	case-study-detail-view.html
	----------------------------
	*/

	.case-study-detail-area {
		padding: 0 0 200px;
	}

	.women-video iframe {
		height: 300px;
	}

	.women-content h2 {
  		font-size: 25px !important;
  		line-height: normal !important;
  		margin: 25px 0 20px 0;
	}

	.women-content > p {
		font-size: 16px;
	}

	.detail-int-box {
		margin: -150px 0 40px 0;
		padding: 30px 20px 20px;
		border-radius: 15px;
	}

	.henry-cnt h4 {
		font-size: 17px;
	}

	.henry-cnt h3 {
		font-size: 19px;
	}

	.henry-cnt p {
		font-size: 16px;
	}

	.detail-int-content h2 {
		font-size: 25px !important;
	}

	.detail-int-content ul li {
  		font-size: 13px;
  		line-height: 20px;
  		text-align: justify;
	}

	.detail-int-content ul li br {
		display: none;
	}

	.detail-int-item1 {
		padding-right: 0;
	}

	.detail-int-img img {
		margin: 35px 0 0;
	}

	.marg-none {
		margin-bottom: 0;
	}

	.custom-success-area {
  		padding: 48px 20px 35px;
	}

	.custom-content-h2 h2 {
		font-size: 25px !important;
		line-height: 1.2 !important;
		margin: 0 0 32px;
	}


	

}

